{% load i18n %}
{% load pt_tags %}

<div class="pt-action-{{ action.id }} action-box {{ action.classname }}">
    <div class="icon {{ action.classname }}"></div>
    <div class="text">
        <div class="pt-toggle-on">
            <form name="addtotimeline">
                <button type="submit" class="beta">{% blocktrans %}Add to timeline{% endblocktrans %}</button>
            </form>
        </div>
        <div class="pt-toggle-wait ajax-loader"></div>
        <div class="pt-toggle-off">{% blocktrans %}Thanks for adding us to your timeline{% endblocktrans %}</div>
    </div>
    <div class="points">{% blocktrans with points=action.parameters.points|default:"100" %}+ {{ points }} points{% endblocktrans %}</div>
</div>

<script type="text/javascript">
window.ptReady.push(function () {
    PT.action.activity.register("{{ action.id }}", ["{{ action.name }}", {{ action.parameters|jsonify }}], "pt-action-{{ action.id }}");

    PT.dom.onsubmit(document.forms.addtotimeline, function (data) {
        FB.login(function (response) {
            if (response.authResponse) {
                PT.api.call('/mast/addtotimeline', {
                    domain: PT.domain.web,
                    method: "GET",
                    data: {
                        new_token: response.authResponse.accessToken
                    },
                    success: function (data) {
                        PT.action.activity.call("{{ action.id }}");
                    }
                });
            }
        }, {scope: 'publish_actions'});
    });
});
</script>
