{% load i18n %}
{% load pt_tags %}

<div class="pt-action-{{ action.id }} {{ action.classname }} action-box">
    <div class="icon {{ action.classname }}"></div>
    <div class="text">
        <div class="pt-toggle-on">
            <button class="pt-connect beta" data-platform="instagram">{% blocktrans %}Connect with Instagram{% endblocktrans %}</button>
            <div class="legend small">{{ action.context.on }}</div>
        </div>
        <div class="pt-toggle-wait ajax-loader"></div>
        <div class="pt-toggle-off">{{ action.context.off }}</div>
    </div>
    <div class="points">{% blocktrans with points=action.parameters.points|default:"100" %}+ {{ points }} points{% endblocktrans %}</div>
</div>

<script type="text/javascript">
window.ptReady.push(function () {
    PT.action.connection.register("{{ action.name }}", "{{ action.name }}", "pt-action-{{ action.id }}");
});
</script>

